<div class="row borderBottomWidth-1 borderColor-smoke">
  <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
    <div class="pa-m">
      <div class="mb-s">
        <button class="button primary button--xl">Button</button>
      </div>
      <span class="midnight s40">Extra large button</span>
    </div>
  </div>
  <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
    <div class="pa-m">
      <div class="mb-s">
        <button class="button primary button--l">Button</button>
      </div>
      <span class="midnight s40">Large button</span>
    </div>
  </div>
  <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
    <div class="pa-m">
      <div class="mb-s">
        <button class="button primary button--m">Button</button>
      </div>
      <span class="midnight s40">Medium Button</span>
    </div>
  </div>
  <div class="h130 col-md-3 ta-center">
    <div class="pa-m">
      <div class="mb-s">
        <button class="button primary button--s">Button</button>
      </div>
      <span class="midnight s40">Small Button</span>
    </div>
  </div>
</div>