---
title: Buttons - Components - Datto Product Design Guide
permalink: /guide/components/buttons/
---

<h1 class="mb-xl mt-s">Buttons</h1>
<h2 class="mb-s">Button Sizes</h2>
<p class="mb-m">Define a button size with <span class="code-tag">.button--s</span>, <span class="code-tag">.button--m</span>, <span class="code-tag">.button--l</span> and <span class="code-tag">.button--xl</span>. The default button size is <span class="code-tag">.button--xs</span></p>
<div class="panel no-margin">
  <div class="row borderBottomWidth-1 borderColor-smoke">
    <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--xl">Button</button>
        </div>
        <span class="midnight s40">Extra large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--l">Button</button>
        </div>
        <span class="midnight s40">Large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center borderRightWidth-1 borderColor-smoke">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--m">Button</button>
        </div>
        <span class="midnight s40">Medium Button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--s">Button</button>
        </div>
        <span class="midnight s40">Small Button</span>
      </div>
    </div>
  </div>
</div>
<div class="codePanel mb-xl">
  <span class="DattoDin midnight s20 fontSize-s">CODE SAMPLE</span>
    <pre>
      <code>
        button class="button button--xl">...</button>
        button class="button button--l">...</button>
        button class="button button--m">...</button>
        button class="button button--s">...</button>
      </code>
  </pre>
</div>
    <h2 class="mb-s">Button Types</h2>
<p class="mb-m">Define a button size with <span class="code-tag">.button--xs</span>, <span class="code-tag">.button--s</span>, <span class="code-tag">.button--m</span>, <span class="code-tag">.button--l</span> and <span class="code-tag">.button--xl</span>. The default button size is <span class="code-tag">.button--xs</span></p>
<div class="panel no-margin">
<h3 class="ml-l mt-s">Primary Call-To-Action</h3>
  <div class="row borderBottomWidth-1 borderColor-smoke">
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--xl">Button</button>
        </div>
        <span class="midnight s40">Extra large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--l">Button</button>
        </div>
        <span class="midnight s40">Large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--m">Button</button>
        </div>
        <span class="midnight s40">Medium Button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button primary button--s">Button</button>
        </div>
        <span class="midnight s40">Small Button</span>
      </div>
    </div>
  </div>
      <h3 class="ml-l mt-s">Secondary Call-To-Action</h3>
  <div class="row borderBottomWidth-1 borderColor-smoke">
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button secondary button--xl">Button</button>
        </div>
        <span class="midnight s40">Extra large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button secondary button--l">Button</button>
        </div>
        <span class="midnight s40">Large button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button secondary button--m">Button</button>
        </div>
        <span class="midnight s40">Medium Button</span>
      </div>
    </div>
    <div class="h130 col-md-3 ta-center">
      <div class="pa-m">
        <div class="mb-s">
          <button class="button secondary button--s">Button</button>
        </div>
        <span class="midnight s40">Small Button</span>
      </div>
    </div>
  </div>
</div>
<div class="codePanel mb-xl">
  <span class="DattoDin midnight s20 fontSize-s">CODE SAMPLE</span>
    <pre>
      <code>
        button class="button button--xl">...</button>
        button class="button button--l">...</button>
        button class="button button--m">...</button>
        button class="button button--s">...</button>
      </code>
  </pre>
</div>
