---
title: Buttons - Components - Datto Product Design Guide
permalink: /guide/components/buttons/
---
<h1 class="mb-xl mt-s">Buttons</h1>
<h2 class="mb-s">Button Sizes</h2>
<p class="mb-m">Define a button size with <span class="code-tag">.button--s</span>, <span class="code-tag">.button--m</span>, <span class="code-tag">.button--l</span> and <span class="code-tag">.button--xl</span>. The default button size is <span class="code-tag">.button--xs</span></p>
<div class="panel no-margin">
  {% include partials/button_button-size.html %}
</div>
<div class="codePanel mb-xl">
  <span class="DattoDin gray fontSize-m bold">CODE SAMPLE</span>
      <pre>
          <xmp class="prettyprint lang-html linenums">{% include partials/button_button-size.html %}</xmp>
  </pre>
</div>
<h2 class="mb-s">Button Types</h2>
<p class="mb-m">Define a button size with <span class="code-tag">.button--xs</span>, <span class="code-tag">.button--s</span>, <span class="code-tag">.button--m</span>, <span class="code-tag">.button--l</span> and <span class="code-tag">.button--xl</span>. The default button size is <span class="code-tag">.button--xs</span></p>
<div class="panel no-margin">
  {% include partials/button_button-type.html %}
</div>
<div class="codePanel mb-xl">
  <span class="DattoDin gray fontSize-m bold">CODE SAMPLE</span>
      <pre>
          <xmp class="prettyprint lang-html linenums">{% include partials/button_button-type.html %}</xmp>
  </pre>
</div>