---
title: Forms - Components - Datto Product Design Guide
permalink: /guide/components/forms/
---

<h1 class="mb-xl mt-s">Form Elements</h1>
<h2 class="mb-s">Input Sizes</h2>
<p class="mb-m">Input fields come in four sizes which can be applied with <span class="code-tag">.input-xl</span>, <span class="code-tag">.input-l</span>, <span class="code-tag">.input-m</span> and <span class="code-tag">.input-s</span> on the .input component itself.</p>
<div class="panel no-margin">
  <div class="row borderBottomWidth-1 borderColor-smoke">
    <div class="col-md-6 borderRightWidth-1 borderColor-smoke">
      <div class="pa-m">
        <div class="mb-s">
          <label class="xl mb-xs">Label:</label>
          <input class="input-xl" type="text" placeholder="Placeholder text">
        </div>
        <span class="midnight s40">Extra large form input</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pa-m">
        <div class="mb-s">
          <label class="l mb-xs">Label:</label>
          <input class="input-l" type="text" placeholder="Placeholder text">
        </div>
        <span class="midnight s40">Large form input</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 borderRightWidth-1 borderColor-smoke">
      <div class="pa-m">
        <div class="mb-s">
          <label class="m mb-xs">Label:</label>
          <input class="input-m" type="text" placeholder="Placeholder text">
        </div>
        <span class="midnight s40">Medium form input (default)</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="pa-m">
        <div class="mb-s">
          <label class="s mb-xs">Label:</label>
          <input class="input-s" type="text" placeholder="Placeholder text">
        </div>
        <span class="midnight s40">Small form input</span>
      </div>
    </div>
  </div>
</div>
<div class="codePanel mb-xl">
  <span class="DattoDin midnight s20 fontSize-s">CODE SAMPLE</span>
              <pre>
                    <code>
            &lt;div class="row mb-m"&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-1"&gt;&lt;div class="column"&gt;1&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="row mb-m"&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&gt;2&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&gt;2&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&lt;2&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&lt;2&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&lt;2&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-2"&gt;&lt;div class="column"&lt;2&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="row mb-m"&gt;
                &lt;div class="col-md-3"&gt;&lt;div class="column"&gt;3&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-3"&gt;&lt;div class="column"&gt;3&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-3"&gt;&lt;div class="column"&gt;3&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-3"&gt;&lt;div class="column"&gt;3&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="row"&gt;
                &lt;div class="col-md-6"&gt;&lt;div class="column"&gt;6&lt;/div&gt;&lt;/div&gt;
                &lt;div class="col-md-6"&gt;&lt;div class="column"&gt;6&lt;/div&gt;&lt;/div&gt;
            &lt;/div&gt;</code>
  </pre>
</div>
