---
title: Grid - Components - Datto Product Design Guide
permalink: /guide/components/grid/
---

<h1 class="mb-xl mt-s">Grid</h1>
<p>We use grids exclusively for layouts which require a number of columns of fluid width. Grids can have 1-12 columns using the Boostrap 3 grid system. The Bootstrap grid accounts for all screen sizes by using <span class="code-tag">.col-xs-</span> (phones), <span class="code-tag">.col-sm-</span> (tablets), <span class="code-tag">.col-md-</span> (desktop) and <span class="code-tag">.col-lg-</span> (large screens). It is important with this grid system your column count always is equal to 12.</p>
<h2 class="mtb-m">Basic Grid</h2>
<div class="panel">
  <section>
{% include guide/partials/grid_even-column.html %}
  </section>
</div>
<div class="codePanel mb-xl">
<span class="DattoDin gray fontSize-m bold">CODE SAMPLE</span>
  <pre>
  <xmp class="prettyprint lang-html linenums">{% include guide/partials/grid_even-column.html %}</xmp>  
  </pre>
</div>
<div class="panel">
  <section>
{% include guide/partials/grid_uneven-column.html %}
  </section>
</div>
<div class="codePanel mb-xl">
<span class="DattoDin gray fontSize-m bold">CODE SAMPLE</span>
  <pre>
  <xmp class="prettyprint lang-html linenums">{% include guide/partials/grid_uneven-column.html %}</xmp>  
  </pre>
</div>