<div class="row borderBottomWidth-1 borderColor-smoke">
  <div class="col-md-6 borderRightWidth-1 borderColor-smoke">
    <div class="pa-m">
      <div class="mb-s">
        <label class="xl mb-xs">Label:</label>
        <input class="input-xl" type="text" placeholder="Placeholder text">
      </div>
      <span class="midnight s40">Extra large form input</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pa-m">
      <div class="mb-s">
        <label class="l mb-xs">Label:</label>
        <input class="input-l" type="text" placeholder="Placeholder text">
      </div>
      <span class="midnight s40">Large form input</span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 borderRightWidth-1 borderColor-smoke">
    <div class="pa-m">
      <div class="mb-s">
        <label class="m mb-xs">Label:</label>
        <input class="input-m" type="text" placeholder="Placeholder text">
      </div>
      <span class="midnight s40">Medium form input (default)</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="pa-m">
      <div class="mb-s">
        <label class="s mb-xs">Label:</label>
        <input class="input-s" type="text" placeholder="Placeholder text">
      </div>
      <span class="midnight s40">Small form input</span>
    </div>
  </div>
</div>