---
title: Wizard Example 1 (Virtual Onboarding) - Datto Product Design Guide
permalink: /guide/components/wizards/example1-4
layout: wizard_example
---

<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="logo mb-s">
</div>
<div class="wizard">
	<h1>Device Registration</h1>
	<div class="wizard-main">
		<div class="steps">
			<ul>
				<li class="mobile-hide"><a href="example1">Connect to Internet</a></li>
				<li class="mobile-hide"><a href="example1-2">Update Device</a></li>
				<li class="mobile-hide"><a href="example1-3">Authorize Service</a></li>
				<li><a href="#" class="active"><span class="mobile-step">Step 4 of 5 -</span> Configure Storage</a><span class="icon icon-right-arrow fontSize-xl d-inlineBlock f-right"></li>
				<li class="mobile-hide"><a href="#" class="disabled">Create Account</a></li>
			</ul>
		</div>
		<div class="step-content pa-m pl-l">
			<p>Please select from the available RAID configurations that will best meet your need.</p>
			<div class="row">
				<div class="col-md-12">
					<h4 class="mt-m mb-s">Your device is provisioned for 4TB of cloud storage</h4>
					<form>
					<ul class="selection-list">
					<li>
						<input type="radio" name="raid" class="ml-m d-inlineBlock f-left" value="raid0">
						<span class="f-left ml-s radio-value">RAID 0</span>
						<span class="f-right mr-s radio-description">xx drives required. Will provide xxTB of allowable storage.</span>
					</li>
					<li>
						<input type="radio" name="raid" class="ml-m d-inlineBlock f-left" value="raid1">
						<span class="f-left ml-s radio-value">RAID 1</span>
						<span class="f-right mr-s radio-description">xx drives required. Will provide xxTB of allowable storage.</span>
					</li>
					<li>
						<input type="radio" name="raid" class="ml-m d-inlineBlock f-left" value="raid5">
						<span class="f-left ml-s radio-value">RAID 5</span>
						<span class="f-right mr-s radio-description">xx drives required. Will provide xxTB of allowable storage.</span>
					</li>
					<li>
						<input type="radio" name="raid" class="ml-m d-inlineBlock f-left" value="raid6" checked>
						<span class="f-left ml-s radio-value">RAID 6</span>
						<span class="radio-tag">Recommended</span>
						<span class="f-right mr-s radio-description">xx drives required. Will provide xxTB of allowable storage.</span>
					</li>
					<li>
						<input type="radio" name="raid" class="ml-m d-inlineBlock f-left" value="raid10">
						<span class="f-left ml-s radio-value">RAID 10</span>
						<span class="f-right mr-s radio-description">XX drives required. Will provide xxTB of allowable storage.</span>
					</li>
					</ul>
					</form>
				</div>
        	</div>
		</div>
	</div>
	<div class="action-bar">
		<button type="button" class="button primary button--m button-icon mt-m f-right" onclick="window.location.href='example1-5'">Next <span class="icon icon-right-arrow fontSize-xl d-inlineBlock"></span>
		</button>
		<button type="button" class="button tertiary f-right button--m mt-m" onclick="window.location.href='example1-3'">Previous</span>
		</button>
	</div>
</div>