---
title: Wizard Example 3 - Datto Product Design Guide
permalink: /guide/components/wizards/example3_7
layout: wizard_example
---
<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="logo mb-s hide">
</div>
<div class="wizard pt-m pr-l pb-m pl-l">
	<h1 class="pt-m pb-m">Add Backup Agent</h1>
	<div class="wizard-main">
		<div class="step-content full-width">
			<div class="loading-spinner-xl mt-xxl mb-l"></div>
			<span class="processing-steps">Step 1: Powering up the flux capacitor</span>
		</div>
		<div class="action-bar">
			<button class="button primary disabled button--m mt-m f-right">Close</button>
		</div>
	</div>