---
title: Wizard Example 1 (Virtual Onboarding) - Datto Product Design Guide
permalink: /guide/components/wizards/example1-5
layout: wizard_example
---

<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="logo mb-s">
</div>
<div class="wizard">
	<h1 class="pt-m pb-m">Device Registration</h1>
	<div class="wizard-main">
		<div class="steps">
			<ul>
				<li class="mobile-hide"><a href="example1">Connect to Internet</a></li>
				<li class="mobile-hide"><a href="example1-2">Update Device</a></li>
				<li class="mobile-hide"><a href="example1-3">Authorize Service</a></li>
				<li class="mobile-hide"><a href="example1-4">Configure Storage</a></li>
				<li><a href="#" class="active"><span class="mobile-step">Step 5 of 5 -</span> Create Account</a><span class="icon icon-right-arrow fontSize-xl d-inlineBlock f-right"></li>
			</ul>
		</div>
		<div class="step-content pa-m pl-l">
			<p>The following device information and local login credentials will be saved to this device.</p>
			<div class="row">
				<div class="col-md-6">
					<label class="m mt-m mb-xs"> Device Name:</label>
        			<input class="input-m" type="text" placeholder="Placeholder text">
				</div>
        	</div>
        	<div class="row mt-l">
	        	<div class="col-md-12">
	        		<h4>Adminstrator Login</h4>
	        	</div>
        	</div>
        	<div class="row">
				<div class="col-md-6">
        			<label class="m mt-s mb-xs"> Username:</label>
        			<input class="input-m" type="text" placeholder="Placeholder text">
				</div>
				<div class="col-md-6">
        			<label class="m mt-s mb-xs"> Password:</label>
        			<input class="input-m" type="text" placeholder="Placeholder text">
				</div>
        	</div>
        	<div class="row mt-l">
	        	<div class="col-md-12">
	        		<h4>Client Information</h4>
	        	</div>
        	</div>
        	<div class="row">
				<div class="col-md-6">
        			<label class="m mt-s mb-xs"> Company Name:</label>
        			<input class="input-m" type="text" placeholder="Placeholder text">
				</div>
        	</div>
		</div>
	</div>
	<div class="action-bar">
		<button class="button save button--m mt-m f-right">Complete Registration</button>
		<button type="button" class="button tertiary f-right button--m mt-m" onclick="window.location.href='example1-4'">Previous
		</button>
	</div>
</div>