---
title: Wizard Example 1 (Virtual Onboarding) - Datto Product Design Guide
permalink: /guide/components/wizards/example1
layout: wizard_example
---
<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="f-left mb-m">
</div>
<div class="wizard pt-m pr-l pb-m pl-l">
	<h1 class="pt-m pb-m">Device Registration</h1>
	<div class="wizard-main">
		<div class="steps">
			<ul>
				<li><a href="#" class="active">Connect to Internet</a>
				<span class="icon icon-right-arrow fontSize-xl f-right">
				</li>
				<li><a href="#" class="disabled">Update Device</a></li>
				<li><a href="#" class="disabled">Authorize Service</a></li>
				<li><a href="#" class="disabled">Configure Storage</a></li>
				<li><a href="#" class="disabled">Create Account</a></li>
			</ul>
		</div>
		<div class="step-content pa-m pl-l">
			<p>Choose the basic networking settings you would like to use to connect your device to the internet.</p>
			<div class="network-list">
				<div class="row">
					<div class="col-md-12">
						<div class="network-connection">
							<div class="row">
								<div class="col-md-4 no-right-padding">
									<object type="image/svg+xml" data="/guide/images/ethernet.svg" class="d-inlineBlock mt-s mb-s mr-xs ml-s port">
									Your browser does not support SVG
									</object>
									<span class="eth-port connected">0</span>
									<div class="network-status ml-s">
										<span class="label">Status:</span>
										<p class="status-tag connected">Connected to Internet</p>
										<span class="label mt-s mb-xs">Address Type:</span>
										<input type="radio" name="address1" value="dhcp" checked> <span class="mr-s">DHCP</span>
										<input type="radio" name="address1" value="manual"> <span>Manual</span>
									</div>
								</div>
								<div class="col-md-8">
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">IP Address:</label>
										<input class="input-m" type="text" placeholder="10.1.1.25" value="10.1.1.25" disabled>
										<label class="m mt-m mb-xs">Primary DNS:</label>
										<input class="input-m" type="text" placeholder="8.8.8.8" value="8.8.8.8" disabled>
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Subnet:</label>
										<input class="input-m" type="text" placeholder="255.255.255.0" value="255.255.255.0" disabled>
										<label class="m mt-m mb-xs">Secondary DNS:</label>
										<input class="input-m mb-s" type="text" placeholder="8.8.4.4" value="8.8.4.4" disabled>
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Gateway:</label>
										<input class="input-m" type="text" placeholder="10.1.1.1" value="10.1.1.1" disabled>
										<label class="m mt-m mb-xs">Domain:</label>
										<input class="input-m" type="text" placeholder="google.com" value="google.com" disabled>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="network-connection">
							<div class="row">
								<div class="col-md-4">
									<object type="image/svg+xml" data="/guide/images/ethernet.svg" class="d-inlineBlock mt-s mb-s mr-xs ml-s port">
									Your browser does not support SVG
									</object>
									<span class="eth-port connected">1</span>
									<div class="network-status ml-s">
										<span class="label">Status:</span>
										<p class="status-tag connected">Connected to Internet</p>
										<span class="label mt-s mb-xs">Address Type:</span>
										<input type="radio" name="address2" value="dhcp" > <span class="mr-s">DHCP</span>
										<input type="radio" name="address2" value="manual" checked> <span>Manual</span>
									</div>
								</div>
								<div class="col-md-8">
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">IP Address:</label>
										<input class="input-m" type="text" placeholder="10.1.1.25" value="10.1.1.25" >
										<label class="m mt-m mb-xs">Primary DNS:</label>
										<input class="input-m" type="text" placeholder="8.8.8.8" value="8.8.8.8" >
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Subnet:</label>
										<input class="input-m" type="text" placeholder="255.255.255.0" value="255.255.255.0" >
										<label class="m mt-m mb-xs">Secondary DNS:</label>
										<input class="input-m mb-s" type="text" placeholder="8.8.4.4" value="8.8.4.4" >
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Gateway:</label>
										<input class="input-m" type="text" placeholder="10.1.1.1" value="10.1.1.1">
										<label class="m mt-m mb-xs">Domain:</label>
										<input class="input-m" type="text" placeholder="google.com" value="google.com">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="network-connection">
							<div class="row">
								<div class="col-md-4">
									<object type="image/svg+xml" data="/guide/images/ethernet.svg" class="d-inlineBlock mt-s mb-s mr-xs ml-s port">
									Your browser does not support SVG
									</object>
									<span class="eth-port connected">2</span>
									<div class="network-status ml-s">
										<span class="label">Status:</span>
										<p class="status-tag connected">Connected to Internet</p>
										<span class="label mt-s mb-xs">Address Type:</span>
										<input type="radio" name="address3" value="dhcp" > <span class="mr-s">DHCP</span>
										<input type="radio" name="address3" value="manual" checked> <span>Manual</span>
									</div>
								</div>
								<div class="col-md-8">
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">IP Address:</label>
										<input class="input-m" type="text" placeholder="10.1.1.25" value="10.1.1.25" >
										<label class="m mt-m mb-xs">Primary DNS:</label>
										<input class="input-m" type="text" placeholder="8.8.8.8" value="8.8.8.8" >
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Subnet:</label>
										<input class="input-m" type="text" placeholder="255.255.255.0" value="255.255.255.0" >
										<label class="m mt-m mb-xs">Secondary DNS:</label>
										<input class="input-m mb-s" type="text" placeholder="8.8.4.4" value="8.8.4.4" >
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Gateway:</label>
										<input class="input-m" type="text" placeholder="10.1.1.1" value="10.1.1.1">
										<label class="m mt-m mb-xs">Domain:</label>
										<input class="input-m" type="text" placeholder="google.com" value="google.com">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="network-connection">
							<div class="row">
								<div class="col-md-4">
									<object type="image/svg+xml" data="/guide/images/ethernet.svg" class="d-inlineBlock mt-s mb-s mr-xs ml-s port">
									Your browser does not support SVG
									</object>
									<span class="eth-port connected">3</span>
									<div class="network-status ml-s">
										<span class="label">Status:</span>
										<p class="status-tag connected">Connected to Internet</p>
										<span class="label mt-s mb-xs">Address Type:</span>
										<input type="radio" name="address4" value="dhcp" checked> <span class="mr-s">DHCP</span>
										<input type="radio" name="address4" value="manual"> <span>Manual</span>
									</div>
								</div>
								<div class="col-md-8">
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">IP Address:</label>
										<input class="input-m" type="text" placeholder="10.1.1.25" value="10.1.1.25" disabled>
										<label class="m mt-m mb-xs">Primary DNS:</label>
										<input class="input-m" type="text" placeholder="8.8.8.8" value="8.8.8.8" disabled>
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Subnet:</label>
										<input class="input-m" type="text" placeholder="255.255.255.0" value="255.255.255.0" disabled>
										<label class="m mt-m mb-xs">Secondary DNS:</label>
										<input class="input-m mb-s" type="text" placeholder="8.8.4.4" value="8.8.4.4" disabled>
									</div>
									<div class="col-md-4 compact-l">
										<label class="m mt-s mb-xs">Gateway:</label>
										<input class="input-m" type="text" placeholder="10.1.1.1" value="10.1.1.1" disabled>
										<label class="m mt-m mb-xs">Domain:</label>
										<input class="input-m" type="text" placeholder="google.com" value="google.com" disabled>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="action-bar">
		<button type="button" class="button primary button--m button-icon mt-m f-right" onclick="window.location.href='example1-2'">
		Next <span class="icon icon-right-arrow fontSize-xl d-inlineBlock"></span>
		</button>
	</div>
</div>