---
title: Wizard Example 3 - Datto Product Design Guide
permalink: /guide/components/wizards/example3_8a
layout: wizard_example
---
<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="logo mb-s hide">
</div>
<div class="wizard pt-m pr-l pb-m pl-l">
	<h1 class="pt-m pb-m">Add Backup Agent</h1>
	<div class="wizard-main">
		<div class="steps">
			<ul>
				<li class="mobile-hide"><a href="example3" class="disabled">Choose Backup Type</a></li>
				<li class="mobile-hide"><a href="example3_1" class="disabled">Choose System</a></li>
				<li class="mobile-hide"><a href="example3_2" class="disabled">Configure Local Backup</a></li>
				<li class="mobile-hide"><a href="example3_3" class="disabled">Configure Cloud Backup</a></li>
				<li class="mobile-hide"><a href="example3_4" class="disabled">Verification Schedule</a></li>
				<li class="mobile-hide"><a href="example3_5" class="disabled">Setup Alerts</a></li>
				<li><a href="#" class="disabled"><span class="mobile-step">Step 7 of 7 -</span> Review Settings</a></li>
			</ul>
		</div>
		<div class="step-content disabled">
			<p>Here is a review of the settings you would like to configure for this device.</p>
		</div>
		<div class="action-bar">
			<button class="button primary disabled button--m mt-m f-right" onclick="window.location.href='example3_7'">
				<div class="loading-spinner-xs"></div>
			</button>
			<button type="button" class="button tertiary disabled f-right button--m mt-m">Step 1: Powering up the flux capacitor</span>
		</button>
			

		</div>
	</div>