---
title: Wizard Example 3 - Datto Product Design Guide
permalink: /guide/components/wizards/example3_5
layout: wizard_example
---
<div class="wizard-branding">
	<img src="/guide/images/datto-logo.svg" alt="Datto Logo" class="logo mb-s hide">
</div>
<div class="wizard pt-m pr-l pb-m pl-l">
	<h1 class="pt-m pb-m">Add Backup Agent</h1>
	<div class="wizard-main">
		<div class="steps">
			<ul>
				<li class="mobile-hide"><a href="example3">Choose Backup Type</a></li>
				<li class="mobile-hide"><a href="example3_1">Choose System</a></li>
				<li class="mobile-hide"><a href="example3_2">Configure Local Backup</a></li>
				<li class="mobile-hide"><a href="example3_3">Configure Cloud Backup</a></li>
				<li class="mobile-hide"><a href="example3_4">Verification Schedule</a></li>
				<li class="mobile-hide"><a href="#" class="active"><span class="mobile-step">Step 6 of 7 -</span> Setup Alerts</a><span class="icon icon-arrow-right fontSize-l d-inlineBlock f-right"></li>
				<li class="mobile-hide"><a href="#" class="disabled">Review Settings</a></li>
			</ul>
		</div>
		<div class="step-content">
			<p>The following table will allow you to configure who you would like to receive email alerts.</p>
			<table class="data-table mt-s">
				<colgroup>
				<col style="width: 37.5%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 15%">
				<col style="width: 2.5%">
				</colgroup>
				<tr>
					<th>Email</th>
					<th class="center">Alert 1</th>
					<th class="center">Alert 2</th>
					<th class="center">Alert 3</th>
					<th class="center">Alert 4</th>
					<th ></th>
				</tr>
				<tr>
					<td ><input class="no-border input-m" type="text" placeholder="Enter email address"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><span class="icon-cancel"></span></td>
				</tr>
				<tr>
					<td ><input class="no-border input-m" type="text" placeholder="Enter email address"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><input type="checkbox" id="cbox" value="checkbox"></td>
					<td ><span class="icon-cancel"></span></td>
				</tr>
				<tr>
					<td><input class="no-border input-m" type="text" placeholder="Enter email address"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><span class="icon-cancel"></span></td>
				</tr>
				<tr>
					<td><input class="no-border input-m" type="text" placeholder="Enter email address"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><span class="icon-cancel"></span></td>
				</tr>
				<tr>
					<td><input class="no-border input-m" type="text" placeholder="Enter email address"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><input type="checkbox" id="cbox" value="checkbox"></td>
					<td><span class="icon-cancel"></span></td>
				</tr>
			</table>
		</div>
		<div class="action-bar">
			<button type="button" class="button primary button--m button-icon mt-m f-right" onclick="window.location.href='example3_6'">Next <span class="icon icon-right-arrow fontSize-xl d-inlineBlock"></span>
			</button>
		<button type="button" class="button tertiary f-right button--m mt-m" onclick="window.location.href='example3_4'">Previous</span>
		</button>
	</div>
</div>