input:focus, textarea:focus, keygen:focus, select:focus
	outline: 0

::-webkit-input-placeholder
	font-style: italic
\:-moz-placeholder
	font-style: italic
::-moz-placeholder
	font-style: italic
\:-ms-input-placeholder
	font-style: italic

input
	border-radius: 2px
	border: 1px solid $midnight-30
	border-bottom: 3px solid $midnight-20

	&:focus
		border-bottom: 3px solid $blue
		border-radius: 0 0 4px 4px
		border-collapse: collapse
label
	display: block
	font-family: $DattoDIN
	text-transform: capitalize
	font-weight: bold
	font-size: 15px
	color: $midnight-80


.input-s
	font-size: 14px
	padding: 8px 10px
.input-m
	font-size: 15px
	padding: 12px 14px
.input-l
	font-size: 16px
	padding: 14px 16px
.input-xl
	font-size: 18px
	padding: 18px 20px
