.DattoDin
	font-family: $DattoDin
.Helvetica
	font-family: $Helvetica
	font-weight: normal

h1, h2, h3, h4, h5, p
	margin-top: 0
	margin-bottom: 0
	padding: 0

h1, h2, h3, h4, h5
	font-family: $DattoDin
	text-transform: capitalize

h1
	font-size: 38px
	font-weight: normal
	line-height: 46px
	color: $midnight-80
h2
	font-size: 30px
	font-weight: normal
	line-height: 36px
	color: $midnight-50
h3
	font-size: 24px
	font-weight: bold
	line-height: 30px
	color: $midnight-70
h4
	font-size: 18px
	font-weight: bold
	line-height: 26px
	color: $midnight-100
p
	font-family: $Helvetica
	font-size: 15px
	font-weight: 300
	line-height: 30px
	color: $midnight-100
	span
		display: block
		color: #3c4858
		font-weight: 600

.fontSize-xxxxl
	font-size: 46px
.fontSize-xxxl
	font-size: 38px
.fontSize-xxl
	font-size: 28px
.fontSize-xl
	font-size: 20px
.fontSize-l
	font-size: 18px
.fontSize-m
	font-size: 16px
.fontSize-s
	font-size: 14px
.fontSize-xs
	font-size: 12px
.fontSize-xxs
	font-size: 10px

.bold
	font-weight: bold
