<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Page-Enter" content="revealtrans(duration=0.0)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/framework.css">
    <link href="https://file.myfontastic.com/dFwfhFv7wy3HqjVbTiPH6A/icons.css" rel="stylesheet">
  </head>
  <body class="style-app example_background">
    <div class="example">
      <div class="example-header">
        <a href="javascript:history.back()" class="pl-m">< Back</a> <span class="pl-s pr-s">|</span> {{ page.title }}
      </div>
      {{ content }}
    </div>
  </body>
</html>