<dd>
<h5 class="mb-s midnight s30">Bootstrap</h5>
<a class="{% if page.url contains 'grid' %}active{% endif %}" href="/guide/components/grid">Grid</a>
<h5 class="mt-l mb-s midnight s30">Custom</h5>
<a class="mb-m {% if page.url contains 'buttons' %}active{% endif %}" href="/guide/components/buttons">Buttons</a>
<a class="mb-m {% if page.url contains 'forms' %}active{% endif %}" href="/guide/components/forms">Form elements</a>
<a class="mb-m {% if page.url contains 'wizard' %}active{% endif %}" href="/guide/components/wizard">Wizard</a>
<a class="mb-m {% if page.url contains 'modal' %}active{% endif %}" href="/guide/components/modal">Modal</a>
</dd>
